section {
    scroll-snap-align: start;
    
    display: flex;
    position: relative;
    flex-direction: column;

    padding-top: 5rem;
    height: 100vh;
    // background-color: orange;
    padding-inline: 5rem;
    width: calc(100vw - 2rem);
    margin-inline: auto;  

    
    & .arrow {
        position: fixed;
        bottom: 2rem;
        right: 10rem;
        border: none;
        width: fit-content;
        height: 10rem;
        cursor: pointer;
        background: none;
    }

    & .arrow::before {
        content: url(../../img/back-arrow.svg);
    }

    & p {
        width: 80%;
    }

    
}
#experience img {
    width: 40rem;
    filter: saturate(0);
    transition: filter 300ms;
}

#experience img:hover {
    filter: saturate(1);
}